.title {
    color: #fff;
    font-weight: 500;
    font-size: xx-large;
}

.header {
    display: flex;
    gap: 2em;
    align-items: center;
    justify-content: space-between;
}

.headerDiv {
    display: flex;
    align-items: center;
    gap: 2em;
}

.githubIcon {
    font-size: 40px;
    color: #fff;
}

.appLogo {
    max-height: 48px;
}

@media screen and (max-width: 600px) {
    .title {
        font-size: x-large;
    }

    .appLogo {
        display: none;
    }
}