.errorTag {
    color: red;
}

.blockDiv {
    display: flex;
    flex-direction: column;
}

.blockDiv span {
    margin-left: 0.1em;
    margin-bottom: 0.5em;
}

.actionDiv {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 1em;
}

.actionTitle {
    font-size: 1.1em;
    margin-left: 0.1em;
}

.buttonDownload {
    width: 50%;
}